# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
weather_data_path="../output_data/weather_data.csv"
weather_data_df=pd.read_csv(weather_data_path,encoding="utf-8")
weather_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        560 non-null    object
 1   lng         560 non-null    float64
 2   lat         560 non-null    float64
 3   Max Temp    560 non-null    float64
 4   Humidity    560 non-null    int64
 5   Wind Speed  560 non-null    float64
 6   Cloudiness  560 non-null    int64
 7   Country     555 non-null    object
 8   Date        560 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 39.5+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# Store latitude and longitude in locations
locations = weather_data_df[["lat", "lng"]]

# Fill NaN values and convert to float
humidity = weather_data_df["Humidity"]

In [19]:
# Plot Heatmap
fig = gmaps.figure(center=(20.0, 80.0), zoom_level=1.5)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                max_intensity=100,
                                 dissipating=True,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
# A max temperature between 15 to 30.
# Wind speed less than 15 mph.
# Humidity in between 25-50
# cloudiness in beween 10-35
Ideal_weather=weather_data_df.loc[(weather_data_df["Max Temp"]>15)&(weather_data_df["Max Temp"]<30)
                                  &(weather_data_df["Wind Speed"]<15)
                                  &(weather_data_df["Humidity"]>20)&(weather_data_df["Humidity"]<50)
                                  &(weather_data_df["Cloudiness"]>10)&(weather_data_df["Cloudiness"]<35)]
Ideal_weather.dropna(inplace = False) 
Ideal_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 17 to 536
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        10 non-null     object
 1   lng         10 non-null     float64
 2   lat         10 non-null     float64
 3   Max Temp    10 non-null     float64
 4   Humidity    10 non-null     int64
 5   Wind Speed  10 non-null     float64
 6   Cloudiness  10 non-null     int64
 7   Country     9 non-null      object
 8   Date        10 non-null     int64
dtypes: float64(4), int64(3), object(2)
memory usage: 800.0+ bytes

In [24]:
Ideal_weather.head()

,city,lng,lat,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
17,Mantamádos,26.3339,39.3117,26.07,46,1.69,11,GR,1623487183
29,Blagaj,17.8886,43.2575,23.98,43,2.57,20,BA,1623487185
45,Şebinkarahisar,38.4236,40.2883,20.15,45,2.19,15,TR,1623487189
123,Mafeteng,27.2374,-29.8230,15.09,40,3.09,12,LS,1623487210
124,Krasnovishersk,57.0820,60.4078,25.00,26,2.94,32,RU,1623487210

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [50]:
hotel_df=Ideal_weather[["Country","city","lng","lat"]]
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 17 to 536
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  9 non-null      object
 1   city     10 non-null     object
 2   lng      10 non-null     float64
 3   lat      10 non-null     float64
dtypes: float64(2), object(2)
memory usage: 720.0+ bytes

In [51]:
# set up additional columns to hold information
hotel_df['Hotel Name'] = ""
hotel_df['Address'] = ""


hotel_df.head(1)

C:\Users\mailr\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mailr\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Country        city      lng      lat Hotel Name Address
17      GR  Mantamádos  26.3339  39.3117

         lng      lat
17   26.3339  39.3117
29   17.8886  43.2575
45   38.4236  40.2883
123  27.2374 -29.8230
124  57.0820  60.4078
186  68.3333  51.8000
306  16.3410  -9.5402
524  43.2500  62.8000
534  87.6005  43.8010
536  19.1167 -24.1333

In [52]:
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Find a hotel based on city_coords.
target_search = "Hotels"
radius = 5000
city_coords = hotel_df[["lng","lat"]]

# redefine params
params = {
    "location": city_coords,
    "keyword": target_search,
    "radius": radius,
    "key": g_key
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat=row["lat"]
    lng=row["lng"]
    city=row["city"]
    # get city location from df
    city_coords = f"{lat}, {lng}"
    print (city_coords)
    # add keyword to params dict
    params['location'] = city_coords

    # assemble url and make API request
   
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'Address'] = results[0]['vicinity']
        print(f"Closest hotel is {results[0]['name']} for {city} .")
        print(f"Closest hotel {results[0]['name']} address is {results[0]['vicinity']} .")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

39.3117, 26.3339

C:\Users\mailr\anaconda3\envs\pythondata\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel is PANORAMA RESORT - ΞΕΝΟΔΟΧΕΙΟ - Ε.ΠΑΛΑΙΟΛΟΓΟΥ ΚΑΙ ΣΙΑ ΤΟΥΡΙΣΤΙΚΑ ΚΑΤΑΛΥΜΑΤΑ Ο.Ε. - ΛΕΣΒΟΣ for Mantamádos .
Closest hotel PANORAMA RESORT - ΞΕΝΟΔΟΧΕΙΟ - Ε.ΠΑΛΑΙΟΛΟΓΟΥ ΚΑΙ ΣΙΑ ΤΟΥΡΙΣΤΙΚΑ ΚΑΤΑΛΥΜΑΤΑ Ο.Ε. - ΛΕΣΒΟΣ address is Ασπροπόταμος, ΛΕΣΒΟΣ .
43.2575, 17.8886
Closest hotel is Hotel Blagaj for Blagaj .
Closest hotel Hotel Blagaj address is Branilaca Bosne, Blagaj .
40.2883, 38.4236
Closest hotel is Colonia Park Hotel () Three Star Hotel for Şebinkarahisar .
Closest hotel Colonia Park Hotel () Three Star Hotel address is Bülbül, Şehir Merkezi, Ptt Cd., Şebinkarahisar .
-29.823, 27.2374
Missing field/result... skipping.
60.4078, 57.082
Missing field/result... skipping.
51.8, 68.3333
Closest hotel is Atbasar for Atbasar .
Closest hotel Atbasar address is Chokan Valikhanov st. 11, Atbasar .
-9.5402, 16.340999999999998
Closest hotel is Palanca Hotel for Malanje .
Closest hotel Palanca Hotel address is Malanje .
62.8, 43.25
Missing field/result... skipping.
43.801, 87.6005
Closest hotel is JinJiang International Hotel Urumqi for Ürümqi .
Closest hotel JinJiang International Hotel Urumqi address is Shuimogou District, Ürümqi .
-24.1333, 19.1167
Closest hotel is Ley-Lia Guest House for Aranos .
Closest hotel Ley-Lia Guest House address is 6 Sarel Theron Street, Aranos .

In [69]:
hotel_df
nan_value = float("NaN")

hotel_df_clean=hotel_df.replace("", nan_value, inplace=False)

In [70]:
hotel_df_clean=hotel_df.dropna(subset = ['Address'],inplace=False)
hotel_df_clean

,Country,city,lng,lat,Hotel Name,Address
17,GR,Mantamádos,26.3339,39.3117,PANORAMA RESORT - ΞΕΝΟΔΟΧΕΙΟ - Ε.ΠΑΛΑΙΟΛΟΓΟΥ Κ...,"Ασπροπόταμος, ΛΕΣΒΟΣ"
29,BA,Blagaj,17.8886,43.2575,Hotel Blagaj,"Branilaca Bosne, Blagaj"
45,TR,Şebinkarahisar,38.4236,40.2883,Colonia Park Hotel () Three Star Hotel,"Bülbül, Şehir Merkezi, Ptt Cd., Şebinkarahisar"
186,KZ,Atbasar,68.3333,51.8000,Atbasar,"Chokan Valikhanov st. 11, Atbasar"
306,AO,Malanje,16.3410,-9.5402,Palanca Hotel,Malanje
534,CN,Ürümqi,87.6005,43.8010,JinJiang International Hotel Urumqi,"Shuimogou District, Ürümqi"
536,NaN,Aranos,19.1167,-24.1333,Ley-Lia Guest House,"6 Sarel Theron Street, Aranos"

In [71]:
addresses=hotel_df_clean['Address'].tolist()
addresses

['Ασπροπόταμος, ΛΕΣΒΟΣ',
 'Branilaca Bosne, Blagaj',
 'Bülbül, Şehir Merkezi, Ptt Cd., Şebinkarahisar',
 'Chokan Valikhanov st. 11, Atbasar',
 'Malanje',
 'Shuimogou District, Ürümqi',
 '6 Sarel Theron Street, Aranos']

In [79]:

# Create a map using city coordinates to set markers

# Create a marker_layer using the hotel info to fill the info box

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Hotel Adress</dt><dd>{Address}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]
locations = hotel_df_clean[['lat', 'lng']]
fig = gmaps.figure(center=(20.0, 80.0), zoom_level=1.5)
markers = gmaps.marker_layer(marker_locations,
    info_box_content=hotel_info)

# Add marker layer ontop of heat map
fig.add_layer(markers)
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]